DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=
FRONTEND_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_EXPIRES_IN=
JWT_SECRET=
MOMO_API_KEY=
MOMO_API_USER=
MOMO_ENVIRONMENT=
MOMO_SUBSCRIPTION_KEY=
MOMO_WEBHOOK_SECRET=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=